/.vs
/.vscode
/env

# Build and install directories
/build_*
/install_*

/thirdparty
/node_modules
/research/*.asv

/research/mugshot_frontal_original_all
*.ldb
*.pyc
.idea/*
.DS_Store

# Generated assets
libppp/swig/*.cxx
libppp/share/config.bundle.json

webapp/src/assets/libppp.wasm
webapp/src/assets/libppp.js
tests.xml
