/.vs
/.vscode

# Build and install directories
/build_*
/install_*
/cmake-build-debug

/thirdparty
/node_modules
/visualstudio
/research/*.asv
/addon/build
build/config.gypi

/research/mugshot_frontal_original_all
*.ldb


*.pyc

.idea/*
.DS_Store

/libppp/swig/*.cxx
/libppp/share/config.bundle.json

/env
/azure
/heroku

# Generated assets
webapp/src/assets/libppp.wasm
webapp/src/assets/libppp.js
