landmark-editor {
    .landmark {
        width: 1em;
        height: 1em;
        border: 1px solid green;
        border-radius: 50%;
        background-color: greenyellow;
        opacity: 0.6;
        float: left ;
        position: absolute;
        visibility: hidden;
    }

    #photo {
        position: absolute;
    }

    #container {
        max-height: 50%;
        height: 300px;
        border: 1px solid #363434;
        border-radius: 5px;
        margin: 1em;
        background-color: #313232
    }
}