<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<app-landmark-editor [inputPhoto]='imageSrc'>
</app-landmark-editor>

<div id='divButtons' class='row topmargin botmargin'>
  <button (click)='el.nativeElement.querySelector("#selectImage").click();' class='btn btn-success'>Choose photo</button>
  <button (click)='createPrint()' class='btn btn-success' style="visibility:hidden">Create Print</button>
  <form>
    <input id='selectImage' type="file"  name="uploads[]" accept="image/*" style="visibility: hidden;" (change)='loadImage($event)'>
  </form>
</div>
