<!--The content below is only a placeholder and can be replaced.-->
<mat-card>
  <h1>
    Welcome to {{title}}!
  </h1>
</mat-card>

<div layout="row" layout-xs="column">

  <div flex>
    <app-landmark-editor [inputPhoto]='imageSrc' [crownChinPointPair]='crownChinPointPair' (edited)='onLandmarksEdited'>
    </app-landmark-editor>
  </div>

  <div flex>
    <button mat-button color="primary" (click)='el.nativeElement.querySelector("#selectImage").click();'>Choose photo</button>
    <button mat-button color="primary" (click)='createPrint()'>Create Print</button>
    <form>
      <input id='selectImage' type="file" name="uploads[]" accept="image/*" style="visibility: hidden;" (change)='loadImage($event)'>
    </form>
  </div>

  <div flex>
    <app-passport-standard-selector class='row'>
    </app-passport-standard-selector>
  </div>
</div>
<div>
  <a *ngIf='outImgSrc!="#"' [href]='outImgSrc' download="print.png">
    <img [src]='outImgSrc' *ngIf='outImgSrc!="#"' class='fit' (click)="saveOutput()">
  </a>
</div>