body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 50px;
    background: ghostwhite
}

#container {
    max-height: 50%;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
}

.results {
    border-radius: 5px;
}

.landmark {
    width: 14px;
    height: 14px;
    border: 1px solid green;
    border-radius: 50%;
    background-color: greenyellow;
    opacity: 0.5;
    float: left ;
    position: absolute;
    visibility: hidden;
}

#photo {
    position: absolute;
}

#drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
}

.camera {
    display: inline-block;
    width: 340px;
}

.output {
    display: inline-block;
    width: 340px;
}

button {
    margin: 10px;
    padding: 10px;
}

input[type=text] { max-width: 45px; }

input[type=number] {
     width: 45px; 
     height: 16px;
     margin: 3px;
     text-align: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

select {
    height: 21px;
    line-height: 16px;
    margin: 3px;
}

#divButtons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#printImage {
    width: 100%;
}