body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 50px;
}

.landmark {
    width: 15px;
    height: 15px;
    border: 2px solid lightcoral;
    border-radius: 50%;
    background-color: orangered;
    float: left;
    clear: left;
    position: relative;
}

a { color: #00B7FF; }

#drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
}

#container {
    height: 400px;
    width: 90%;
    border: 1px solid black;
    overflow: hidden;
}

#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    display: none;
    height: 240px;
    width: 320px;
}

#photo {
    width: 100%;
    height: auto;
    position: relative;
    clear: left;
}

#canvas { display: none; }

.camera {
    display: inline-block;
    width: 340px;
}

.output {
    display: inline-block;
    width: 340px;
}

button {
    background-color: #009600;
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px #000000;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 1.0);
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 14px;
    margin: 20px;
}

input[type=text] { max-width: 45px; }

#divButtons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}