.landmark {
    width: 14px;
    height: 14px;
    border: 1px solid green;
    border-radius: 50%;
    background-color: greenyellow;
    opacity: 0.6;
    float: left ;
    position: absolute;
    visibility: hidden;
}

#photo {
    position: absolute;
}

#container {
    max-height: 50%;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
}